@charset "UTF-8";

main .content-inner .inner-section {
    margin-top: 40px;
    padding: 40px 45px;
    border-radius: 40px;
    border: 1px solid #333;
}

main .content-inner .section-board-title {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content-inner .section-board-title > div {
	display: flex;
    align-items: center;
    width: 360px;
}

main .content-inner .section-board-title > div > h1 {
	font-size: 25px;
    font-weight: 600;
}

main .content-inner .section-board-title > a {
	text-decoration: none;
	color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}

main .content-inner .section-board-title > a:hover {
	color: #EC6818;
	font-weight: 600;
}
    
main .content-inner .section-board-list {
	margin-top: 35px;
	min-height: 185px;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

main .content-inner .section-board-list > ul > li > a {
	display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 20px;
    margin: 3% 5%;
    color: #333;
}

main .content-inner .section-board-list > ul > li > a > div:first-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: .3s;
}

main .content-inner .section-board-list > ul > li > a:hover > div:first-child {
	color: #EC6818;
	font-weight: 400;
}

main .content-inner .section-board-title .board-title-shlter-icon {
	display: block;
    width: 30px;
    height: 30px;
    margin-right: 3%;
	background: url(../../image/icon_shelter.png) no-repeat center;
	background-size: 100%;
}

main .content-inner .section-board-title .board-title-free-icon {
	display: block;
    width: 30px;
    height: 30px;
    margin-right: 3%;
	background: url(../../image/icon_free.png) no-repeat center;
	background-size: 100%;
}

main .section-board-list .boost-image > h1 {
	display: block;
    height: 400px;
	background: url(../../image/img_contents_boost.png) no-repeat center;
	background-size: 100%;
	background-color: #9dd7e5;
	border-radius: 100px;
}


main .content-inner {
	padding-top: 50px;
}

main .content-inner > h1 {
	text-align: center;
    font-size: 35px;
    font-weight: 500;
}

main .content-inner > h1 > span {
	color: #ffa500;
}

main .content-inner .section-bongsa-calendar {
	margin: 2% 0;
}



.fc .fc-button-primary {
  background-color: #ffa500 !important;
  border: none;
}
