main .content-inner .inner-section1 {
    max-height: 500px;
    margin-top: 40px;
    width: 60vh;
    height: 80vh;
    padding: 0; /* padding을 없애서 이미지가 꽉 차도록 설정 */
    border-radius: 40px;
    border: 1px solid #333;
    overflow: hidden; /* 내용이 넘치지 않도록 */
    display: flex;
    justify-content: center;
    align-items : center;
    margin-left : 25%;
}

/* 부모 요소 안에서 이미지 꽉 차게 설정 */
#bigImages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow : hidden;
    margin-bottom: 10px;
    margin-right : 20px;
    margin:0;
    padding: 0;
}

#big {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율을 유지하면서 이미지를 잘 보이게 함 */
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
    aspect-ratio: 2 / 1;
}

.smallImages {
    position: absolute;
    top: -1.5%;
    right: 10%;
    display: flex;
    flex-direction: column;
    padding: 3% 3% 0 0;
    gap : 10px;
}

.small {
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    object-fit: cover; /* 작은 이미지는 비율을 유지하며 꽉 차게 */
    transition: transform 0.3s ease;
    border-radius: 40px;
}

/* small 이미지 hover 시 크기 확대 */
.small:hover {
    transform: scale(1.1);
}

/* about-table */

main .content-inner .inner-section {
    /* max-height: 500px; */ /* 강아지 소개영역 짤려서 주석처리 */
    margin-top: 40px;
    padding: 0; /* padding을 없애서 이미지가 꽉 차도록 설정 */
    border-radius: 40px;
    border: 1px solid #333;
    overflow: hidden; /* 내용이 넘치지 않도록 */
}

.about-table {
	display:flex;
	margin-top:40px;
	justify-content: space-between;
	padding-top: 20px;
}
table {
            border-collapse: collapse; /* 테이블 경계 합치기 */
            width: 100%; /* 테이블 너비 설정 */
            height : 161px;
            font-size:24px;
        }
tbody {
	padding-right : 2%;
}
th, td {
       border: 1px solid #333; /* 테이블 셀 경계 */
            padding: 8px; /* 셀 안쪽 여백 */
            text-align: left; /* 텍스트 정렬 */
            margin-top : 50%;
            border-right:none;
			border-left: none;
			border-color : #929292;
			vertical-align:middle;
        }

tr {
	text-align : center;
}
td.center {
	text-aligh:center;
}

/* About Text */
.text-section {
	width:1124px;
	/* height : 230px; */ /*강아지 소개영역 내용이 짤려서 주석처리 */
	padding-bottom: 15px;
}

.text-section div {
	display:flex;
	margin-top: 3%;
    margin-left: 3%;
}
.title-about-icon {
	display: block;
    width: 30px;
    height: 30px;
	background : url(../../image/abouticon.png) no-repeat center;
	background-size: 100%;
	margin: 0 5px;
}

main .inner-section .section-title {
    font-size: 30px;
    font-weight: 700;
}



.about-detail {
	font-size:22px;
	line-height:33px;
	border-top: 1px solid #ddd;
}
.about-detail p {
	margin-top:3%;
}

/* Adoption Title Icon */
.text-section2 {
	width:1124px;
	height : 230px;
	
}
.text-section2 div {
	display:flex;
	margin-top: 2%;
    margin-left: 3%;
    flex-wrap:wrap;
}
.title-adoption-icon {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../image/Adoptionicon.png) no-repeat center;
    background-size: 100%;
    margin: 0 5px;
}

/* Adoption Title */
.ado-section-title {
    font-size: 30px;
    font-weight: 700;
}

span {
    color: #FF710A;
}

/* Adoption Image and its surrounding block */
.adoption-image {
    position: absolute;
    width: 861px;
    height: 122px;
    background: url(../../image/Adoption-img.png) no-repeat center;
    background-size: cover; /* 이미지를 꽉 차게 표시 */
}

/* Adoption Detail */
.adoption-detail {
    display: block;
    font-size: 22px;
    line-height:33px;
    border-top: 1px solid #ddd;
    padding-top: 20px; /* 텍스트와 상단 경계 사이에 여백을 줌 */
}

/* Inner Rectangle */
.inner-rectangle {
    max-height: 550px;
    padding: 0;
    border-radius: 40px;
    border: 1px solid #333;
    width: 1013px;
    height: 175px;
    margin-bottom: 20px;
}

/* Adoption Section Layout */
main .inner2-section {
    max-height: 700px;
  	height: 480px;
    margin-top: 40px;
    padding: 0;
    border-radius: 40px;
    border: 1px solid #333;
}

/* Adoption Image Container to ensure text goes below */
.adoption-image div {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}





/* 목록버튼 */
main .view-item-button {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}

main .view-item-button > button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    width: 110px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

main .view-item-button > button:hover {
	color: #333;
}



/* 댓글 영역 시작 */
/* 섹션 영역 */
main .content-inner .inner-section:nth-of-type(3) {
    /* margin-top: 60px; */
    min-height: 10vh;
    padding: 40px 45px;
}

/* 댓글 헤더*/
main .inner-section .section-reply-title {
	border-bottom: 1px solid #ddd;
    padding-bottom: 35px;
}

main .inner-section .section-reply-title > h1 {
	font-size: 25px;
    font-weight: 600;
    color: #333;
}

main .inner-section .section-reply-title > h1 > span {
    color: #ffa500;
}

/* 댓글 등록 */
main .inner-section .section-reply-input {
	padding-top: 35px;
	padding-bottom: 35px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ddd;
}

main .inner-section .section-reply-input input {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 16px;
}

main .inner-section .section-reply-input button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    width: 8%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

main .inner-section .section-reply-input button:hover {
	color: #333;
}

main .inner-section .section-reply-input p {
	font-size: 20px;
    font-weight: 600;
    color: #333;
}


/* 댓글 목록 */
main .inner-section .section-reply-list {
	padding-top: 35px;
}

main .inner-section .section-reply-list .section-reply-info {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

main .inner-section .section-reply-list .section-reply-info .reply-info-item ul {
	display: flex;
    align-items: center;
}

main .inner-section .section-reply-list .section-reply-info .reply-info-item {
	width: 80%;
}

main .inner-section .section-reply-list .section-reply-info .reply-info-item ul > li {
	position: relative;
    font-size: 20px;
    /* width: 100px; */
    /* margin: 0 10px; */
    min-width: 5%;
    max-width: 60%;
}

main .inner-section .section-reply-list .section-reply-info .reply-info-item ul > li:first-child {
	padding-right: 10px;
}

main .inner-section .section-reply-list .section-reply-info .reply-info-item ul > li:last-child {
	padding-left: 10px;
}

.inner-section .section-reply-list .section-reply-info .reply-info-item ul > li:first-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #7B7B7B;
}

/* 댓글 버튼 */
.inner-section .section-reply-list .section-reply-info .reply-button-item button {
    border: 1px solid #eee;
    width: 60px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 600;
    transition: .3s;
}

.inner-section .section-reply-list .section-reply-info .reply-button-item .reply-modify-button, 
.inner-section .section-reply-list .section-reply-info .reply-button-item .reply-submit-button {
	background-color: rgba(241, 251, 255, 1);
    color: #333;
}

.inner-section .section-reply-list .section-reply-info .reply-button-item .reply-delete-button,
.inner-section .section-reply-list .section-reply-info .reply-button-item .reply-cancel-button {
	background-color: rgba(255, 247, 241, 1);
    color: #333;
}

.section-reply-list .button-item-type2 {
	display: none;
}

/* 댓글 컨텐츠 */
.section-reply-list .section-reply-content {
	line-height: 25px;
    color: #333;
}

.section-reply-list .section-reply-content > input {
	width: 75%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 16px;
    display: none;
}

.section-reply-list > ul > li + li {
	border-top: 2px dotted #ddd;
    margin-top: 10px;
    padding-top: 10px;
}

.section-reply-list > ul > li.list-nodata {
	font-size: 20px;
    font-weight: 500;
    color: #333;
}

